@import "tailwindcss";
@theme {
  --font-sans: Geist, sans-serif;
  --color-secondary: #f4f5ef;
  --color-primary: #161614;
  --color-alternate: #52baf2;
}
* {
  font-variant-numeric: tabular-nums;
}
html,
body {
  overscroll-behavior: none;
}
.bg-primary{
background-color: #161614;
}
.text-megan {
            font-size:72pt;
            line-height: var(--tw-leading, var(--text-4xl--line-height));
        }
        
.mt-megan {
margin-top:40pt
}

var GitHub = 0
GitHub = class="hover:text-alternate text-secondary duration-200 font-bold"
            href="https://github.com/mrenaghan">GitHub</a 