@import "tailwindcss";
@theme {
  --font-sans: Geist, sans-serif;
  --color-secondary: #f4f5ef;
  --color-primary: #161614;
  --color-alternate: #52baf2;
}
* {
  font-variant-numeric: tabular-nums;
}
html,
body {
  overscroll-behavior: none;
}
.bg-primary{
background-color: #161614;
}
.text-megan {
            font-size:72pt;
            line-height: var(--tw-leading, var(--text-4xl--line-height));
        }
        
.mt-megan {
margin-top:40pt
}
.mmb-10{
margin-bottom: 10pt
}
*:hover.m-hover{
  color: #52baf2;
}