@import "tailwindcss";
@theme {
  --font-sans: Geist, sans-serif;
  --color-secondary: #f4f5ef;
  --color-primary: #161614;
  --color-alternate: #52baf2;
}
* {
  font-variant-numeric: tabular-nums;
}
html,
body {
  overscroll-behavior: none;
}
