---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Chair Design";
---
<BaseLayout>
	<section class="px-8 py-32 max-w-4xl mx-auto">
	  <h1 class="text-4xl text-secondary font-bold mb-4">{title}</h1>
	  <p class="text-xl text-secondary mmb-10">
		I designed a human-centered chair concept using Fusion360 AutoCAD. I incorporated 
		concepts of daily comfort and ergonomic needs with the holes in the back of the 
		chair, allowing the user to adjust the back support depending on how much pressure
		the user puts on the chair. The chair concept features multiple spots to rest
		feet on, creating a comfortable environment. The materials for production of
		the chair are bio-plastic and repurposed metal. The estimate of cost per chair
		is around $30, allowing it to be accessible but also be produced efficiently.
		</p>
		<video controls width="100%">
  <source src="/video1.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>
		<img src="/screenshot12.png" alt="fusion" />
		<img src="/screenshot13.png" alt="slide" />

	</section>

<BaseLayout>