---
const title = "Date of Birth Seven-Segment Display";
---

<section class="px-8 py-32 max-w-4xl mx-auto">
  <h1 class="text-4xl font-bold mb-4">{title}</h1>
  <p class="text-xl">
    Using truth tables, K-Maps, and boolean algebra to display my date of birth 
    on a seven-segment display. 
  </p>
</section>
