---
const title = "Glider Design";
---

<section class="px-8 py-32 max-w-4xl mx-auto">
  <h1 class="text-4xl font-bold mb-4">{title}</h1>
  <p class="text-xl">
    Modeled and constructed a glider that can launch, fly, and land without significant harm to it's structure. Won the contest and flew the longest distance!
  </p>
</section>
