---
const title = "svg-doodles";
---

<section class="px-8 py-32 max-w-4xl mx-auto">
  <h1 class="text-4xl font-bold mb-4">{title}</h1>
  <p class="text-xl">
    Premium themes and UI Kits for designers, developers, businesses, and personal use —
    Beautifully crafted with Astro.js, and Tailwind CSS — Simple & easy to customize.
  </p>
</section>
