---
const title = "This website";
---

<section class="px-8 py-32 max-w-4xl mx-auto">
  <h1 class="text-4xl font-bold mb-4">{title}</h1>
  <p class="text-xl">
    Designed using BBEdit, Astro, Github, Tower, and Terminal.
  </p>
</section>
<img src="/screenshot10.png" alt="My image" />
