---
const title = "This website";
---

<section class="px-8 py-32 max-w-4xl mx-auto">
  <h1 class="text-4xl font-bold mb-4">{title}</h1>
  <p class="text-xl">
    Designed using BBEdit, Astro, Tower, HTML, CSS,
<span class="text-xs font-medium text-secondary flex ml-auto"
 ></span 
	> &nbsp; <a
            class="hover:text-alternate text-secondary duration-200 font-bold"
            href="https://github.com/mrenaghan">GitHub</a
         
  <p class="text-xl"> 
, and Terminal.
    
  </p>
</section>
<img src="/screenshot10.png" alt="My image" />
